# All of the output files from the potassium ratios analysis
potassium_ratios/lists/
potassium_ratios/potassium.out

# Thermal trajectories compiled data fetcher executable
evolution_plots/fetch_data

# Output files associated the thermal trajectories fetching work
evolution_plots/pid_list
evolution_plots/sdf_list
evolution_plots/time_fetched.dat
evolution_plots/rho_fetched.dat
evolution_plots/temp_fetched.dat
evolution_plots/vrad_fetched.dat
evolution_plots/ti44_fetched.dat
evolution_plots/ni56_fetched.dat

# Output files from the yellow region trajectories analysis
evolution_plots/yellow_region/pid_list
evolution_plots/yellow_region/sdf_list
evolution_plots/yellow_region/time_fetched.dat
evolution_plots/yellow_region/rho_fetched.dat
evolution_plots/yellow_region/temp_fetched.dat
evolution_plots/yellow_region/vrad_fetched.dat
evolution_plots/yellow_region/images/

# Output files from the Cas A regions trajectories analysis
evolution_plots/casA_regions/pid_list
evolution_plots/casA_regions/sdf_list
evolution_plots/casA_regions/regions.out
evolution_plots/casA_regions/time_fetched.dat
evolution_plots/casA_regions/rho_fetched.dat
evolution_plots/casA_regions/temp_fetched.dat
evolution_plots/casA_regions/vrad_fetched.dat
evolution_plots/casA_regions/ti44_fetched.dat
evolution_plots/casA_regions/ni56_fetched.dat
evolution_plots/casA_regions/images/
evolution_plots/casA_regions/mean_traj/
evolution_plots/casA_regions/region_total_yields/

# Reproduceable files for shock breakout data fetching
shock_breakout/sdf_list
shock_breakout/get_sdf_data
shock_breakout/data_from_sdfs/
shock_breakout/radial_profiles/

# Output files from the Schulte & Bose analyses
schulte_and_bose/jet3b_50Am_time_sync/jet3b_sdf_1800.dat
schulte_and_bose/jet3b_50Am_temp_histories/50Am_histories_12C13C.dat
schulte_and_bose/jet3b_50Am_temp_histories/jet3b_histories_12C13C.dat
schulte_and_bose/all_sims_thermo_histories/50Am_rho.dat
schulte_and_bose/all_sims_thermo_histories/50Am_temp.dat
schulte_and_bose/all_sims_thermo_histories/jet3b_rho.dat
schulte_and_bose/all_sims_thermo_histories/jet3b_temp.dat

# Data files and output plots from the stipped models analysis
stripped_models/c16r4-inputmodel.dat
stripped_models/run3g-inputmodel.dat
stripped_models/c16r4_abun.dat
stripped_models/run3g_abun.dat
stripped_models/dont_use/
stripped_models/calctemp.pyc
stripped_models/plots/

sdf_vis/
