# All of the output files from the potassium ratios analysis
potassium_ratios/lists/
potassium_ratios/potassium.out

# Thermal trajectories compiled data fetcher executable
evolution_plots/fetch_data

# Output files associated the thermal trajectories fetching work
evolution_plots/pid_list
evolution_plots/sdf_list
evolution_plots/time_fetched.dat
evolution_plots/rho_fetched.dat
evolution_plots/temp_fetched.dat
evolution_plots/ti44_fetched.dat
evolution_plots/ni56_fetched.dat

# Output files from the yellow region trajectories analysis
evolution_plots/yellow_region/pid_list
evolution_plots/yellow_region/sdf_list
evolution_plots/yellow_region/time_fetched.dat
evolution_plots/yellow_region/rho_fetched.dat
evolution_plots/yellow_region/temp_fetched.dat
evolution_plots/yellow_region/vrad_fetched.dat
evolution_plots/yellow_region/images/

# Output files from the entropy regions trajectories analysis
evolution_plots/entropy_regions/pid_list
evolution_plots/entropy_regions/sdf_list
evolution_plots/entropy_regions/regions.out
evolution_plots/entropy_regions/time_fetched.dat
evolution_plots/entropy_regions/rho_fetched.dat
evolution_plots/entropy_regions/temp_fetched.dat
evolution_plots/entropy_regions/vrad_fetched.dat
evolution_plots/entropy_regions/ti44_fetched.dat
evolution_plots/entropy_regions/ni56_fetched.dat
evolution_plots/entropy_regions/images/

